body {
    margin: 0;
    padding: 64px 80px;
    font-family: 'gilroylight', sans-serif;
    font-size: 18px;
    line-height: 32px;
    color: black;
    background-color: beige;
}

.error{
    font-weight: 600;
    color: red;
}