body {
    margin: 0;
    padding: 80px;
    font-family: 'gilroy', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #000000;
    /*background-color: #f3f3f3;*/
}

p {
    font-size: 16px;
    font-weight: 600;
}

h3 {
    margin: 0px;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    text-shadow: 1px 1px #e8e8e8;
}

th{
    font-size: 14px;
    font-weight: 600;
    padding: 8px;
    border: 1px solid #000000;
    background-color: #fae9df;
}

td {
    font-size: 13px;
    padding: 8px;
    border: 1px solid #000000;
    background-color: #faf2df;
}

a {
    margin-right: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 2px;
}
.span-bold-big {
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    font-weight: 800;
    color: #333333;
}

.span-bold {
    font-family: 'Arial', sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: #333333;
}

.container {
    margin: 0 auto;
    padding: 40px;
    border: 2px solid #333333;
    border-radius: 8px;
    background-color: #a2d8ff; /* Dodatkowy kolor dla zawartości tekstowej */
}

#add-edit-search-container {
    max-width: 640px;
}

.sub-container {
    margin: 10px;
    padding: 10px;
    border: 2px solid #333333;
    border-radius: 8px;
    background-color: #faf2df;
}

.sub-container-bottom {
    margin: 10px;
    padding: 10px;
    border: 2px solid #333333;
    border-radius: 8px;
    background-color: #edfadf;
}

.sub-container-top-small {
    margin: 10px;
    padding: 10px;
    border: 2px solid #333333;
    border-radius: 8px;
    background-color: #edfadf;
    max-width: 240px;
}

#title-container {
    font-size: 16px;
    background-color: #edfadf;
}

#title-container-2 {
    font-size: 16px;
    background-color: #d95b5b;
}

.button {
    display: inline-block;
    min-width: 50px;
    padding: 4px 8px;
    margin: 4px;
    border: 2px solid #333333;
    border-radius: 4px;
    background-color: #83c58b;
    color: white;
    font-size: 11px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}

.button-admin {
    display: inline-block;
    min-width: 50px;
    padding: 4px 8px;
    margin: 4px;
    border: 2px solid #333333;
    border-radius: 4px;
    background-color: #a783c5;
    color: white;
    font-size: 11px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}

#yellow-button {
    background-color: #ffca59;
}

#yellow-button-big {
    min-width: 580px;
    min-height: 40px;
    justify-content: center;
    font-size: 16px;
    font-weight: 800;
    background-color: #ffca59;
}

#red-button {
    background-color: #ff5959;
}

#blue-button {
    background-color: #3ba4fa;
}

#red-logout {
    padding: 4px 24px;
    font-size: 12px;
    font-weight: 700;
    background-color: #ff5959;
}

.error {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #b01111;
}